# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/RTTIHook/v17/ipch/AutoPCH/cce0e6a1b5792ccf/DLLMAIN.ipch
/.vs/RTTIHook/v17/ipch/AutoPCH/cce0e6a1b5792ccf
/.vs/RTTIHook/v17/ipch/AutoPCH/af0b25bf814685bb/DLLMAIN.ipch
/.vs/RTTIHook/v17/ipch/AutoPCH/af0b25bf814685bb
/.vs/RTTIHook/v17/ipch/AutoPCH/19668bdfb9d3866d/DLLMAIN.ipch
/.vs/RTTIHook/v17/ipch/AutoPCH/19668bdfb9d3866d
/.vs/RTTIHook/v17/ipch/AutoPCH
/.vs/RTTIHook/v17/Browse.VC.opendb
/.vs/RTTIHook/v17/Browse.VC.db-wal
/.vs/RTTIHook/v17/Browse.VC.db-shm
/.vs/RTTIHook/v17/Browse.VC.db
/.vs/RTTIHook/v17/.wsuo
/.vs/RTTIHook/v17
/.vs/RTTIHook/FileContentIndex/read.lock
/.vs/RTTIHook/FileContentIndex/ec0e3127-f8f4-494d-91f5-27930d56a126.vsidx
/.vs/RTTIHook/FileContentIndex/bc22d2ca-76ab-4bc4-ba50-a6b44294b4c5.vsidx
/.vs/RTTIHook/FileContentIndex/33a3f9d7-39d4-44a0-9622-a17aa888f921.vsidx
/.vs/RTTIHook/FileContentIndex/2efda684-460e-4c77-b8bd-09e91f25e2bb.vsidx
/.vs/RTTIHook/FileContentIndex
/.vs/RTTIHook
/.vs/ProjectSettings.json
/.vs
